.expired-invite-container {
    text-align: center;
    border: 2px solid #172B4D;
    border-radius: 15px;
    margin-top: 5rem;
    margin-bottom: 20rem;
    width: 35%;
}

.image-row {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.image-time-out {
    width: 50px;
}

.invitation-expired-row {
    margin-bottom: 1.5rem;
}

.invitation-expired-heading {
    font-size: 1.5rem;
    font-weight: bold;
}

.paragraph-element {
    padding-left: 3rem;
    padding-right: 3rem;
}

.button-row {
    margin-bottom: 2rem;
}


.ok-button {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

