.input-checkbox-content {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: left;
}

.input-checkbox-content input[type=checkbox]:hover, 
.input-checkbox-content label:hover {
    cursor: pointer;
}

.error-container {
    padding: 0px;
    margin: 0px;
}

label.checkbox-label, label.radio-button-label {
  user-select: none;
}

.checkbox-margin{
  margin-bottom: 45px;
}